<div class="dashboard">
  <div class="container">
    <div class="row">
      <div class="form-group">
        <label for="usr">Name:</label>
        <input type="text" class="form-control" placeholder="Puth the URL here..." [(ngModel)]="targetUrl" />
      </div>
    </div>

    <div class="row">
      <button type="button" class="btn btn-primary" (click)="enshort()">Enshort</button>

      <button type="button" class="btn btn-danger action-button" (click)="delete()">Delete</button>

      <button type="button" class="btn btn-info action-button" (click)="stats()">Get Stats</button>
    </div>

    <div *ngIf="shortedUrl" class="row">
      <pre class="output">
        <a href="{{shortedUrl}}">{{shortedUrl}}</a>
      </pre>
    </div>

    <div class="row" *ngIf="history.length">
      <h2>History</h2>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let url of history">
          <a href="{{url}}">{{url}}</a>
        </li>
      </ul>
    </div>

    <div class="row" *ngIf="statsData">
      <h2>Statistics</h2>
      <pre class="output">{{statsData | json}}</pre>
    </div>
  </div>
</div>